.camp-hub__sprite
{
  .campHub__spriteIcon
  {
    position: absolute;

    &-completed
    {
      top: 3rem;
      width: 100%;
      height: 70%;
      width: 100%;
      height: 70%;
    }

    &-dangerous
    {
      bottom: 1rem;
      right: 1rem;
      width: 15%;
      height: 15%;
      z-index: 1;
      background: transparent;
      border: none;
      padding: 0;
      filter:
        brightness(1.1) drop-shadow(1px 1px 0px #ff434395) drop-shadow(1px -1px 0px #ff434395) drop-shadow(-1px 1px 0px #ff434395) drop-shadow(-1px -1px 0px #ff434395) drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.6));
      animation: icon-float 3s ease-in-out infinite;

    }
  }
}

@keyframes icon-float
{

  0%,
  100%
  {
    transform: translateY(0) scale(1);

  }

  50%
  {
    transform: translateY(-1px) scale(1.03);
  }
}